

<div class="signin-container page-signin container" >

     <div class="row alert-container an-fade"><div class="alert" ng-show="show_alert" ng-class="{'alert-success': success, 'alert-danger': !success}" role="alert">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     {{message}}</div></div>
    <!-- Left side --><div class="row">
    <div class="signin-info">
      <div class="logo">
        <!-- <img style="margin-top: -5px;" alt="" src="assets/demo/logo-big.png">&nbsp; -->
        Change your Password Now!
      </div> <!-- / .logo -->
      <div class="slogan">
       Thank you for confirming your email id. Please add a new password to signin to the Customer Services user account on Semiacs.
<div class="form-actions" style="text-align:center;">
          
          <a href="#/login" class="btn btn-success"  style="width:38%" role="button">HOME</a>
        </div> <!-- / .form-actions -->
      </div> <!-- / .slogan -->
    </div>
    <!-- / Left side -->

      <!-- Right side -->
    <div class="signin-form">

      <!-- Form -->
      <form id="pc_form"  name="pc_form" novalidate="novalidate" ng-submit="changePassword(pc_form.$valid)"  >
        <div class="signin-text">
          <span class="fa fa-lock signin-form-icon"></span>
          <span>New Password</span>
        </div> <!-- / .signin-text -->

        <div class="form-group w-icon" ng-class="{ 'has-error' : pc_form.signin_password.$invalid  && formSubmitted  }" >
          <input type="password" placeholder="New Password" class="form-control input-lg" id="password_id" name="signin_password"  ng-model="user.password"  required>
           <span class="fa fa-lock signin-form-icon"></span>
            <p ng-show="pc_form.signin_password.$invalid && formSubmitted " class="help-block">Password is required.</p>
        </div> <!-- / Username -->

        <div class="form-group w-icon"   ng-class="{ 'has-error' : (pc_form.cpassword.$invalid ||((pc_form.signin_password.$dirty || pc_form.cpassword.$dirty) && (user.password != user.cpassword)))  && formSubmitted  }" >
          <input type="password" placeholder="Confirm Password" class="form-control input-lg" id="cpassword" name="cpassword" ng-model="user.cpassword" required >
           <span class="fa fa-lock signin-form-icon"></span>
            <p ng-show="pc_form.cpassword.$invalid && formSubmitted  && pc_form.signin_password.$invalid" class="help-block">Confirm Password is required.</p>
            <p ng-show="(pc_form.signin_password.$dirty || pc_form.cpassword.$dirty) && (user.password != user.cpassword) && formSubmitted" class="help-block">Passwords don't match.</p>
        </div> <!-- / Password -->

        <div class="form-actions">
          <input type="submit" class="signin-btn bg-primary" value="SUBMIT">    
          
        </div> <!-- / .form-actions -->
      </form>

    </div>
    </div>
    <!-- Right side -->
  </div>